<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<title>修改密码</title>
	<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" th:href="@{/resources/dist/css/skins/_all-skins.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/AdminLTE.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/dist/css/ionicons.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/e7/css/e7-0.2.css}"/>
</head>

<body>

<section id="sec_detail" class="content detail">
	<div class="box box-info">
<!-- 		<div class="box-header with-border">
			<h3 class="box-title">修改密码</h3>
			<div class="box-tools pull-right">
				<button class="btn btn-box-tool" data-widget="collapse">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div> -->
		<div class="box-body">
			<form id="frm_detail" class="form-horizontal" >  
				<fieldset id='fld_detail'>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="" class="col-sm-3 control-label">原密码 <span style="color:red">*</span></label>
								<div class="col-sm-8">
									<input type="password" name="oldPassword" class="form-control" placeholder="原密码" maxlength="20"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="" class="col-sm-3 control-label">新密码 <span style="color:red">*</span></label>
								<div class="col-sm-8">
									<input type="password" name="newPassword" class="form-control" placeholder="新密码" maxlength="20"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="" class="col-sm-3 control-label">确认新密码 <span style="color:red">*</span></label>
								<div class="col-sm-8">
									<input type="password" name="confirmPassword" class="form-control" placeholder="确认新密码" maxlength="20"/>
								</div>
							</div>
						</div>
					</div>
	
				</fieldset>
			</form>
		</div>
		<div class="box-footer">
               <button id="btn_save" type="button" class="btn btn-primary pull-right" onclick="javascript:save();">保存</button>
		</div>
	</div>
</section>
	
<script th:src="@{/resources/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/resources/plugins/bootbox/bootbox.min.js}"></script>
<script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/plugins/bootstrapValidator/bootstrapValidator.min.js}"></script>
<script th:src="@{/resources/dist/js/app.min.js}"></script>
<script th:src="@{/resources/e7/e7util-0.2.js}"></script>
<script type="text/javascript" layout:fragment="foot_script">
	/*<![CDATA[*/
	
	$(function(){
		validatorInit();
	});
	
	/***
	 * 表单验证
	 */
	function validatorInit() {
	    $('#frm_detail').bootstrapValidator({
		    feedbackIcons: {
		        valid: 'glyphicon glyphicon-ok',
		        invalid: 'glyphicon glyphicon-remove',
		        validating: 'glyphicon glyphicon-refresh'
		    },
		    fields: {	  	 
		    	oldPassword : {
					validators : {
						notEmpty : {message : '旧密码不能为空'},
						stringLength : {min : 6, max : 20, message : '旧密码长度必须在6-20之间' }
					}
				},
		    	newPassword : {
					validators : {
						notEmpty : {message : '新密码不能为空'},
						stringLength : {min : 6, max : 20, message : '新密码长度必须在6-20之间' }
					}
				},
		    	confirmPassword : {
					validators : {
						notEmpty : {message : '确认新密码不能为空'},
						identical : {field: 'newPassword', message : '两次输入密码不一致'},
					}
				}
			}
		});
	
		$('#btn_save').click(function() {
			$('#frm_detail').bootstrapValidator('validate');
		});
	}	
	
	function save() {
		$('#frm_detail').bootstrapValidator('validate');
		
		if (!$('#frm_detail').data('bootstrapValidator').isValid()) {
			return;
		}
		
		bootbox.confirm({
			buttons : {
				confirm : {label : '确定', className : 'btn-info'},
				cancel : {label : '取消', className : 'btn-cancel'}
			},
			className : "del-model",
			message : '确定要修改密码？',
			callback : function(result) {
				if (!result) return;
				
				E7.post('[[@{/modifyPassword}]]', E7.serialForm('#frm_detail'), function(data) {
					bootbox.alert({'title' : "消息",'message' : '密码修改成功！'});
					refresh();
				});
			},
			title : '修改确认'
		});			
	}
	
	/*]]>*/
</script>
</body>
</html>
