<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>XLINK运营平台</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link th:href="@{/resources/style.css}" rel="stylesheet" type="text/css" />
</head>
<body class="skin-blue sidebar-mini">
	<div id="welcome" style="text-align:center">
		<!-- 上部标题 -->
			<!-- <img id="welcomeimg" th:src="@{/resources/dist/img/Welcome.png}" style="width:300px;margin-top:150px;margin-left:100px;"> -->
		</div>
</body>
</html>

