<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.tianan" level="debug" />
	<root level="info">
		<appender-ref ref="Console" />
	</root>
</configuration>